/* Page Constants */
@full-mobile-device: ~"(max-width: 500px)";
@mobileNavHeight: 50px;
@page-padding: 2rem;

/* Color Themes */
@base: rgba(32,32,32,1);
.base(@prop,@val){ @{prop}: rgba(39,39,39,@val) !important; }

@color1: rgba(226,224,229,1);
.color1(@prop,@val){ @{prop}: rgba(226,224,229,@val) !important; }

@color2: rgba(255,117,201,1);
.color2(@prop,@val){ @{prop}: rgba(238,36,110,@val) !important; }

@color3: rgba(147,36,50,1);
.color3(@prop,@val){ @{prop}: rgba(147,36,50,@val) !important; }

@color4: rgba(60,24,116,1);
.color4(@prop,@val){ @{prop}: rgba(60,24,116,@val) !important; }

@color5: rgba(40,55,71,1);
.color5(@prop,@val){ @{prop}: rgba(40,55,71,@val) !important; }

/* Fonts */
@import "_fonts.less";
@font-size: 14px;

/* Shimmer base animation */
.shimmer-loader() {
    background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
    background-position-x: 100%;
    background-size: 300%;
    animation: shimmer 1s infinite linear;
}

/* Additional Page styles */
body, html { 
    // color: rgba(255,255,255,1);
    color: rgba(0,0,0,1);
    font-size: @font-size; 
    scroll-behavior: smooth;

    // font-family: 'Barlow Condensed', sans-serif;
    // font-family: 'Bebas Neue', cursive;
    // font-family: 'Tourney', cursive;
    font-family: 'Lato', sans-serif;
}

/* Main Nav Menu */
.navbar {
    z-index: 100; position: fixed; top: 0;
    padding: 0 1rem; width: calc(100% - 2rem);
    background-color: @base; color: #fff;
    
    a { text-decoration: none; color: initial; }

    .navbar-toggler { 
        border: none; display: none; justify-content: center;
        background: none; flex-direction: column; cursor: pointer;
        color: rgba(255,255,255,1);
        
        span { font-size: 25px; }

        @media @mobile-nav { display: inline-flex; }
    }

    .navbar-brand { 
        margin-right: 3rem;
        .initial-wrapper {
            background: rgba(0,0,0,0); position: relative;
            display: flex; flex-direction: column; height: 50px;
            justify-content: center;
            
            img { width: 100px; object-fit: cover; }
        }
    }

    .navbar-collapse {
        flex: 1; display: flex; flex-direction: column; 
        justify-content: center;
        
        .collapse-container { 
            display: flex; flex-direction: row; width: 100%;
            .page-nav-container {
                display: flex; flex-direction: row; 

                .nav-item {
                    cursor: pointer; display: flex; 
                    flex-direction: column; justify-content: center;
                    margin-right: 2rem; color: rgba(255,255,255,0.5); 
                    font-weight: bold;                    
                    
                    transition: 0.2s all ease-in-out;

                    &:hover { color: #fff; }
                }
            }
        }

        @media @mobile-nav { display: none; }
    }

    .nav-tail { 
        display: flex; flex-direction: row; margin-left: auto;

        .link-btn { 
            margin: auto 0;
            border-radius: 50px; padding: .5rem 1.2rem;
            color: #fff; background: @base;
            text-decoration: none; text-align: center;
            transition: 0.4s all ease-in-out; cursor: pointer;   
            display: flex; flex-direction: row; 
            justify-content: center;

            -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5); 
            
            color: @color2; background: rgba(0,0,0,0); 

            .icon {
                font-size: 1rem; margin-right: .5rem;
                transition: 0.4s all ease-in-out;
            }

            &:hover { 
                background: rgba(255,255,255,0.2);
                .icon { transform: translateX(-4px); } 
            }
        }

        .nav-login-btn-container {
            display: flex; flex-direction: column; 
            justify-content: center; margin-left: 2rem;

            @media @mobile-nav { margin-left: 1rem; }
        }
    }

    .nav-bookend {
        display: flex; flex-direction: row; flex: 1;
        &.tail { justify-content: flex-end; }
    }
}

/* Mobile Nav Menu */
.noscroll { overflow: hidden; }
.m-sidenav-container {
    display: none; position: fixed;
    top:0; right:100vw;
    z-index: 1001; width: 100vw;
    height: calc(100vh - @mobileNavHeight); 
    .base(background, 0.95);
    padding: @mobileNavHeight 0 0;
    color: rgba(255,255,255,1);
    backdrop-filter: blur(2px); 
    -webkit-backdrop-filter: blur(2px);
    
    transition: 0.5s all ease-in-out;

    .m-nav-close { 
        position: absolute; top: 1rem; right: 40px; color: rgba(255,255,255,1);         
    }

    .m-sidenav-section { 
        display: flex; flex-direction: column; padding: 0 @page-padding;
        overflow-y: auto; height: 100%;

        .m-user-link {
            height: 20px; text-decoration: none;
            display: flex; flex-direction: row; cursor: pointer;             

            span { 
                color: #ccc; display: flex; flex-direction: column; justify-content: center;
                font-size: 1.3rem; transition: 0.2s all ease-in-out;
                &.material-symbols-outlined { font-size: 1.3rem; }
                &+span { margin-left: 5px; }
            }
        }

        .m-sidenav-link {
            font-size: 2rem; text-align: left; color: #fff; text-decoration: none;
            color:  rgba(255,255,255,1); padding: 10px 0;

            .m-header {
                display: flex; flex-direction: row; justify-content: space-between;

                a { 
                    color: #fff; text-decoration: none;
                }
                .material-symbols-outlined { 
                    display: flex; flex-direction: column; justify-content: center;
                    cursor: pointer;
                }
            }

            &.mini-link { font-size: 1.4rem; color: rgba(200,200,200,1); }
        }

        .m-sidenav-admin-access-container {
            margin-top: auto; display: flex;
            flex-direction: row; justify-content: center;
            padding: 16px 0;

            span { color: #fff; }
        }
    }

    &.active { right:0; }
    @media @mobile-device { display: block; }
}

/* Footer */
.footer-container {
    display: flex; flex-direction: column;
    color: #fff; position: relative;

    .footer-background { 
        position: absolute; content: '';
        top: -4rem; left: 0; z-index: -1;
        height: calc(100% + 4rem); width: 100%;
        // background-image: linear-gradient(to bottom, transparent 0%, rgba(32,32,32,1) 12.5%);
        background-image: linear-gradient(to bottom, transparent, rgba(32,32,32,1));
    }

    .footer {
        //background: @base;
        background-image: linear-gradient(to bottom, transparent, rgba(32,32,32,0.7));
        padding: 40px 5%; display: flex;
        flex-direction: row; justify-content: space-between;

        .footer-section { 
            flex:1; padding: 0 5px;

            .footer-title { 
                font-size: 1.5rem; font-weight: bold; 
                font-family: 'Bebas Neue', cursive;
                margin-bottom: 10px;

                &.main { font-size: 2rem; margin: 0; }
            }
            .footer-subtitle { 
                color: @color2; font-weight: bold; 
                font-family: 'Bebas Neue', cursive;
                &.plus { margin-top: -15px; margin-bottom: 20px;}
            }
            .item { margin-bottom: 2px;}
            .item-link { 
                color: #fff; font-size: 1.2rem;
                text-decoration: none; opacity: 0.5;
                transition: 0.7s all ease-in-out;
                &:hover { color: @color2; opacity: 1;}
            }
            img { height: 75px; object-fit: contain; }
            .icon-section { 
                display: flex; flex-direction: row;
                a { 
                    color: #fff; font-size: 1.2rem;
                    transition: 0.7s all ease-in-out;
                    &:hover { text-decoration: none; color: @color2; }
                    &+a{ margin-left: 10px; }
                }

                @media @mobile-device { justify-content: center; }
            }

            &.split { 
                display: flex; flex-direction: row;
                flex-wrap: wrap; text-align: center;

                .footer-title { width: 100%;  height: 1.5rem;}
                .link-column { flex:1; display: flex; flex-direction: column; }

                @media @mobile-device { flex-direction: column; }
            }

            &.ctr { text-align: center; display: flex; flex-direction: column; justify-content: center;}

            @media @mobile-device { text-align: center;  }
        }
        @media @mobile-device { flex-direction: column; }
    }

    .footer-bottom { 
        padding: 5px 5%; display: flex; flex-direction: row; 
        font-size: .9rem; color: @color1; // background: @base;
        .base(background, 0.5);
        border-top: 1px solid rgba(255,255,255,0.2);
        i { margin-right: 5px; display: flex; flex-direction: column; justify-content: center; }
    }
}

/* Page Body */
.page-body {
    min-height: 100vh;
    margin-top: @mobileNavHeight;
}

/* Toolbox Landing */
.toolbox-page {}

/* Components */
.site-btn-container {
    display: flex; flex-direction: row;
    justify-content: center;
    padding: 0 @page-padding;

    &.end { 
        justify-content: flex-end;
    }
}

.site-btn {
    padding: 8px 24px; border-radius: 24px; 
    color: #fff; background: @base;
    text-decoration: none; text-align: center;
    display: flex; flex-direction: row;
    transition: 0.4s all ease-in-out; cursor: pointer;

    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);

    span {
        display: flex; flex-direction: column;
        justify-content: center; font-size: 1.3rem;
        transition: 0.4s all ease-in-out;

        &.icon { margin-right: 0.5rem; font-size: 1.5rem; }
        &.title {
            font-family: 'Bebas Neue', cursive;
        }
    }

    &:hover { 
        color: #fff; text-decoration: none; 
        .icon { transform: translateX(-4px); }
    }

    // Size
    &.mini {
        padding: 4px 16px; border-radius: 16px;

        span { 
            font-size: 1.3rem; 
            &.icon { font-size: 1.5rem; }
        }
    }

    // Functions
    &.disabled { cursor: default; }

    // Themes
    &.c2 { .color2(background,0.7); &:hover { .color2(background,1); } } 
    &.c3 { .color3(background,0.7); &:hover { .color3(background,1); } }
    &.c4 { .color4(background,0.7); &:hover { .color4(background,1); } } 
    &.c5 { .color5(background,0.7); &:hover { .color5(background,1); } }

    &.youtube { background: rgba(255,0,0,0.9); &:hover { background: rgba(40, 40, 40,1); }}

    &.glass { 
        background: rgba(32,32,32,0.7); 
        backdrop-filter: blur(2px); 
        -webkit-backdrop-filter: blur(2px);
        &:hover { background: rgba(32,32,32,1); } 
    }

    &.clean {
        background: transparent; 
        color: rgba(40,40,40,1);

        &:hover { 
            background: transparent;
            color: rgba(255,0,0,1);
        }
    }
}

.lrgTitle {
    position: relative; color: #fff;
    font-size: 5rem; font-weight: 100; margin: 6rem 0 8px;
    font-family: 'Bebas Neue', cursive;

    &:after {
        position: absolute;
        top: -8.5rem; left: 20px;
        color: rgba(200,200,200,0.2);
        font-weight: 400; content: attr(data-text);
        font-size: 17rem; white-space: nowrap;
    }

    &.sub { 
        &:after { font-size: 4.5rem; top: -2.5rem;}
    }

    &.ctr { 
        text-align: center;
        &:after { left: 50%; transform: translateX(-50%); }
    }

    &.cw { color: #fff; &:after { color: rgba(255,255,255,0.2);}}
    &.c0 { color: #000; &:after { color: rgba(0,0,0,0.1);}}
    &.c1 { color:@color1; &:after { .color1(color, 0.1);}}
    &.c2 { color:@color2; &:after { .color2(color, 0.1);}}
    &.c3 { color:@color3; &:after { .color3(color, 0.1);}}

    @media @mobile-device { 
        &:after { font-size: 5rem; top: -2.5rem; }
        &.ctr { &:after { width: 100%; left: 0; transform: none;}}
    }
}

/* Icons */
.close-nav { 
    width: 27px; height: 27px; position: relative;
    &:before, &:after {
        position: absolute;
        left: 14px; content: ' ';
        height: 28px; width: 2px;
        background-color: rgba(255,255,255,1);
    }
    &:before { transform: rotate(45deg); }
    &:after { transform: rotate(-45deg); }
}

/* Transitions */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes shimmer {
    to {
       background-position-x: 0%
    }
}

/* Additional Page styles */
@import "_home.less";
@import "_leagueStore_toolbox.less";
@import "leagueStore/_leagueStore.less";
@import "leagueStore/login.less";