.home {
    position: relative;

    .landing-section {
        position: relative;

        .home-cover-container {
            position: relative; overflow: hidden;
            z-index: 1;
            height: calc(100vh - @mobileNavHeight);

            .back-cover {
                position: relative; width: 100%; 
                object-fit: cover; object-position: center;
                z-index: 0;

                @media @mobile-nav { height: 100%; }
            }

            .back-cover-cover {
                content: ""; position: absolute; 
                top: 0; left: 0; z-index: 1;
                width: 100%; height: 100%;
                background-image: linear-gradient(180deg, @base, rgba(32,32,32,0.5));
                backdrop-filter: blur(1px); 
                -webkit-backdrop-filter: blur(1px);
            }

            .cover-title {
                position: absolute; left: 50%; top: 100px; 
                transform: translateX(-50%); 
                .color1(color, 0.9);
                font-size: 150px; font-weight: bold;
                text-transform: uppercase; white-space: nowrap;
                font-family: 'Tourney', cursive;
                z-index: 2;   
                
                @media @mobile-nav {  
                    font-size: 80px; top: 70px;
                }

                @media @full-mobile-device {
                    font-size: 50px; top: 100px;
                }
            }

            .front-cover {
                width: 100%; position: absolute; top: 0; left: 0;
                object-fit: cover; object-position: center;
                z-index: 3;

                @media @mobile-nav { height: 100%; }
            }

            .slow-blink {
                animation: fadeIn 1.0s ease-in-out;
            }
        }

        .welcome-container {
            position: absolute; bottom: 70px; left: 2rem;
            display: flex; flex-direction: row; z-index: 2;
            width: calc(100% - 4rem); 
            height: calc(100% - 140px);
            transition: 1s all ease-in-out;

            .video-container {
                height: 150px; width: 200px; border-radius: 8px;
                border-bottom-right-radius: 0; margin-top: auto;
                position: relative; overflow: hidden;
                background: rgba(0,0,0,1);
                transition: 1s all ease-in-out;

                -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
                -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
                box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);

                .icon {
                    position: absolute; top: 50%; left: 50%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                    font-size: 5rem; color: rgba(255,255,255,0.8);
                }

                .intro-video-thumbnail {
                    width: 100%; height: 100%;
                    object-fit: cover; 
                    object-position: center;
                }

                @media @full-mobile-device {
                    width: 100%;
                    border-bottom-left-radius: 0;
                }
            }

            .content-container { 
                display: flex; flex-direction: column; 
                justify-content: flex-end; height: 150px;
                margin-top: auto;
                z-index: 1;
                .text-container {
                    background: @color1; padding: 8px 24px; height: 60%;
                    border-top-right-radius: 8px; border-bottom-right-radius: 8px;
                    display: flex; flex-direction: column; justify-content: center;
                    text-align: center; overflow: hidden;
                    font-family: 'Barlow Condensed', sans-serif;

                    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
                    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
                    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);

                    p { 
                        margin: 0; color: #000; font-size: 1rem; 
                        .level2 { 
                            font-size: 1.65rem; line-height: 1.2rem;
                        }
                        .level3 { 
                            font-weight: bold; color: @color2; 
                            font-size: 3.2rem; line-height: 2.2rem;
                        }
                    }

                    @media @full-mobile-device { border-radius: 8px; margin-top: -4px; }
                }

                @media @full-mobile-device { 
                    margin-top: 0; 
                    height: calc(150px * .6);

                    .text-container { height: 100%; }
                }
            }

            &.video-playing {
                flex-direction: column;
                width: calc(100% - 4rem); 
                height: calc(100% - 140px);
                .video-container {
                    width: 100%; height: 100%; 
                    border-radius: 8px;
                    .icon { display: none; }  
                }    
                
                .content-container { display: none; }
            }

            @media @full-mobile-device { 
                width: calc(100% - 4rem);;
                flex-direction: column; 
            }
        }
    }

    .our-sports-section {
        display: flex; flex-direction: column; padding: 3rem 0;

        .sports-list-container {
            padding: 0; overflow: hidden;
            width: 90%; margin: auto;
            mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
            .sports-list-inner-container{
                display: flex; flex-direction: row; 
                overflow: hidden; white-space: nowrap;
                padding-left: 6%;

                .sport-item {
                    display: flex; flex-direction: row; 
                    padding: 4px 8px; cursor: pointer;
                    color: #000;
                    transition: 0.4s all ease-in-out;

                    .sport-logo {
                        font-size: 1.5rem; margin-right: 0.5rem;
                        transition: 0.4s all ease-in-out;
                    }

                    .sport-title {
                        font-size: 1.4rem;
                        font-family: 'Bebas Neue', cursive;
                    }

                    &.empty { 
                        height: 1rem; width: 100px;
                        border-radius: 1rem;
                        .shimmer-loader();
                    }

                    &+.sport-item { 
                        margin-left: 15%; 
                        @media @mobile-nav { margin-left: 7%; }
                    }

                    &.selected { color: @color2; cursor: default; }
                    
                    &:hover:not(.selected) { 
                        .color3(color, 0.7); 
                        .sport-logo {
                            transform: translateX(-4px);
                        }
                    }
                }

                @media @mobile-nav { padding: 0 6%; overflow-x: auto; }
            }

            @media @mobile-nav { padding: 0; }
        }

        .sports-info-container {
            display: flex; flex-direction: column;
            padding: 30px @page-padding;

            .image-container {
                position: relative; height: 400px; margin: 75px 0;

                .league-image {
                    position: absolute; border-radius: 8px; overflow: hidden;
                    background-color: rgba(75,75,75,1); opacity: 0;
                    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
                    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
                    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
                    animation: fadeIn 0.7s forwards;

                    img { width: 100%; min-height: 100%; object-fit: cover;}

                    &.empty {
                        position: relative; 
                        .shimmer-loader();

                        * { 
                            position: absolute; top: 50%; left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    &:nth-child(1) { 
                        top: 50%; left: 50%; 
                        transform: translate(-50%, -50%); 
                        width: 60%; height: 100%; 
                    }

                    &:nth-child(2) { 
                        top: 50%; left: 25%; 
                        transform: translate(-50%, -50%); 
                        width: 250px; height: 200px; 
                        animation-delay: 0.35s;
                    }

                    &:nth-child(3) {
                        top: 0; left: 40%; 
                        transform: translate(-50%, -50%); 
                        width: 150px; height: 100px;
                        animation-delay: 0.7s; 
                    }

                    &:nth-child(4) { 
                        top: 50px; right: 80px; 
                        transform: translate(-50%, -50%); 
                        width: 200px; height: 150px;
                        animation-delay: 1.05s; 
                    }

                    &:nth-child(5) {
                        top: 60%; right: 60px; 
                        transform: translate(-50%, -50%); 
                        width: 150px; height: 100px; 
                        animation-delay: 1.40s;
                    }

                    &:nth-child(6) { 
                        top: 100%; left: 60%; 
                        transform: translate(-50%, -50%); 
                        width: 300px; height: 150px;
                        animation-delay: 1.75s; 
                    }

                    @media @mobile-nav {
                        position: relative;
                        top: initial !important; 
                        left: initial !important;
                        right: initial !important;
                        transform: initial !important;
                        margin-bottom: 8px;

                        &:nth-child(1), &:nth-child(2), &:nth-child(3) { width: calc(33% - 4px); height: 100px; }

                        &:nth-child(4) { width: 100%; height: 200px; }

                        &:nth-child(5), &:nth-child(6) { 
                            width: calc(50% - 4px); height: 100px;
                        }
                    }
                }

                @media @mobile-nav { 
                    display: flex; flex-direction: row;
                    flex-wrap: wrap; justify-content: space-between;
                    margin: 2rem 0;
                }
            }

            .sport-details-container {
                width: 75%; text-align: center;
                margin: 3rem auto; font-size: 1.3rem;
                line-height: 2.5rem;

                @media @mobile-nav {
                    margin: 1rem auto;
                    width: calc(100% - @page-padding);
                }
            }

            .sport-btn-container {
                display: flex; flex-direction: row;
                justify-content: center; padding: 0 @page-padding 2rem;
            }
        }
    }

    .our-videos {
        display: flex; flex-direction: column; padding: 3rem 0;

        h1 {
            text-align: center; margin: 5rem 0; 
            padding: 0 @page-padding;
        }

        .site-btn-container { margin-bottom: 1rem; }

        .video-container {
            padding: 0; overflow: hidden;
            width: 90%; margin: auto;
            mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);

            .video-item-container{
                display: flex; flex-direction: column;
                padding: 16px; overflow: hidden; cursor: pointer;
                text-decoration: none; color: initial; position: relative;

                transition: 0.4s all ease-in-out;

                .img-cover {
                    height: 200px; border-radius: 8px;
                    width: calc(100% - 32px); overflow: hidden;
                    background-color: rgba(50,50,50,1);
                    position: relative;

                    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
                    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
                    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);

                    .thumbnail { 
                        width: 100%; min-height: 100%; object-fit: cover;
                        position: relative; z-index: 0;
                        transition: 0.5s all ease-in-out;
                    }
                    
                    .icon {
                        position: absolute; top: 50%; left: 50%;
                        transform: translate(-50%, -50%);
                        width: 50px; z-index: 1;
                        transition: 0.3s all ease-in-out;
                    }
                }

                .slider-content {
                    display: flex; flex-direction: column;
                    padding: 8px; font-family: 'Lato', sans-serif;
                    color: rgba(50,50,50,1);
                    transition: 0.3s all ease-in-out;

                    .title { font-size: 1.2rem; font-weight: bold;  }
                    .date { font-size: 1rem; }
                }

                &:hover {
                    .img-cover {
                        .thumbnail { opacity: 0.8; }
                        .icon { width: 75px; }
                    }

                    .slider-content { color: rgba(200,50,50,1); }
                }
            }
        }
    }
}