.ls-store-cart {
    display: flex; flex-direction: column;
    padding: 0 2rem;

    .page-title {
        font-family: 'Bebas Neue', cursive;
        font-size: 3rem; margin-top: 0;

        color:@league-store-c3;
    }

    .cart-tab-container-wrapper {
        border-radius: 37px;
        background-color: #f4f4f4;
        padding: 8px; width: 100%;
        max-width: 316px;
        margin-left: auto;
        margin-right: auto;
    }

    .cart-tab-container {
        position: relative;
        text-align: center;

        &:after {
            content: ""; position: absolute;
            width: 50%; top: 0;
            transition: left cubic-bezier(.88, -.35, .565, 1.35) .4s;
            border-radius: 27.5px;
            box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .1);
            background-color: @league-store-c1;
            height: 100%;
            z-index: 0;
        }

        &.left {
            &:after { left: 0; }
        }

        &.right {
            &:after { left: 50%; }
        }

        .cart-tab {
            all: unset;
            display: inline-block;
            width: 50%;
            padding: 8px 0;
            z-index: 1;
            position: relative;
            cursor: pointer;
            transition: color 200ms;
            font-size: 16px;
            font-weight: bold;
            line-height: normal;
            user-select: none;

            &.active { color: #ffffff; }
        }
    }

    .cart-details-container {
        display: flex; flex-direction: row;
        padding: 8px; margin: 2rem 0;

        .empty-cart {
            text-align: center; font-size: 4rem;
            color: rgba(50,50,5, 1); padding: 2rem 10%;
            font-family: 'Barlow Condensed', sans-serif;

            p { margin: 0; }

            @media @mobile-nav { font-size: 2rem; }
        }

        .cart-line-items-container { 
            flex: 1; display: flex;
            flex-direction: column;
            padding: 0 1rem;

            .cart-line-item {
                padding: 1rem 0.5rem; 
                display: flex; 
                flex-direction: row;

                .cart-img-container { 
                    display: flex;
                    flex-direction: column;

                    .cart-img {
                        overflow: hidden;
                        border-radius: 8px;
                        width: 300px; 

                        @media @mobile-nav { width: 100%; }
                    }
                    img { 
                        width: 100%; min-height: 100%;
                        object-fit: cover;
                    }

                    .btn-container {
                        display: flex; flex-direction: row;
                        padding: 1rem 0; justify-content: center;

                        .btn {
                            all: unset;
                            display: flex; flex-direction: row;
                            justify-content: space-between;
                            padding: 4px 8px; border-radius: 32px;
                            background-color: rgba(200,200,200,1);
                            font-family: 'Barlow Condensed', sans-serif;
                            font-weight: bold; font-size: 0.8rem;
                            color: #fff; cursor: pointer;

                            transition: 0.2s all ease-in-out;

                            .btn-icon { font-size: 1rem; }

                            &:disabled { 
                                opacity: 0.2; cursor: default;
                                background-color: @league-store-c3; 

                                .price { display: none; }
                            }

                            &:hover:not(:disabled) { background-color: lighten(rgba(200,200,200,1), 10%);}
                            
                            &.remove { 
                                background-color: rgba(200,0,0,1);
                                &:hover:not(:disabled) { background-color: lighten(rgba(200,0,0,1), 10%);}
                            }

                            &.edit { 
                                background-color: rgba(100,100,100,1);
                                &:hover:not(:disabled) { background-color: lighten(rgba(100,100,100,1), 10%);}
                            }

                            &+.btn { margin-left: 1rem; }
                        }
                    }
                }

                .line-item-table {
                    flex: 1; padding: 0 0.5rem;
                    tr {
                        td { 
                            vertical-align: top;
                            .content-details {
                                padding: 0 .5rem; display: flex;
                                flex-direction: column;

                                .title { 
                                    font-weight: bold; font-size: 1.2rem; 
                                }

                                .additional-description {
                                    font-size: 0.8rem; font-style: italic;
                                    padding: 0.5rem;
                                }

                                .date-row {
                                    display: flex; flex-direction: row;
                                    font-size: 0.8rem; padding: 2px 4px;
                                    color: @league-store-c2;
                                    span { &+span { margin-left: 0.25rem; }}
                                }

                                .sub-detail-container {
                                    padding: 4px; table-layout: auto;
                                    width: 350px;

                                    .sdr-row {
                                        font-size: 0.8rem;
                                        .sdr-title { font-weight: bold; }
                                        .count-price { 
                                            text-align: right; 
                                            padding-left: 100px;

                                            @media @mobile-nav { padding-left: 2rem; }
                                        }
                                    }

                                    @media @mobile-nav { width: initial; }
                                }
                            }

                            .custom-detail-container {
                                padding: 0 .5rem; display: flex;
                                flex-direction: column;

                                .item-personalize-container {
                                    border-radius: 8px; color: rgba(50,50,50,1); 
                                    padding: 4px; display: flex; flex-direction: row; 
                                    margin-bottom: 4px; background: @color1;

                                    .img-container {
                                        .league-store-c2(background-color, 0.5); width: 75px; height: 75px; border-radius: 5px;
                                        overflow: hidden; margin-right: 10px;

                                        img { min-height: 100%; width: 100%; object-fit: cover; }
                                    }

                                    .team-info-container {
                                        flex: 1; display: flex; flex-direction: column; 

                                        .team-info-item { 
                                            display: flex; flex-direction: column;
                                            .title { font-size: .8rem; font-weight: bold; color: @league-store-c2;}
                                            span { color: #000; margin-left: 5px; }
                                        }
                                    }

                                    .custom-details-list {
                                        width: 100%;
                                        th { 
                                            text-align: center; 
                                            border-bottom: 2px solid rgba(0,0,0,0.2);
                                            background-color: @league-store-c1;
                                        }
                                        td { 
                                            text-align: center; font-size: 0.8rem;
                                            border-bottom: 1px solid rgba(0,0,0,0.2);
                                        }
                                    }

                                    &+.item-personalize-container { margin-top: 0.5rem; }
                                }
                            }
                            
                            &.price {
                                width: 50px; text-align: right;
                                font-size: 1.2rem;
                                font-weight: bold;

                                .price-breakdown {
                                    display: flex; 
                                    flex-direction: column;

                                    .discounted { 
                                        text-decoration: line-through; 
                                        opacity: 0.5;
                                    }

                                    .discounted-price {
                                        font-size: 1rem;
                                        text-align: center;
                                        color: rgba(100,0,0,1);

                                        @media @mobile-nav { font-size: .8rem; }
                                    }
                                }

                                @media @mobile-nav { font-size: 1rem; }
                            }
                        }
                    }

                    @media @mobile-nav { padding: 0; }
                }

                &+.cart-line-item { border-top: 1px solid rgba(50,50,50,0.2); }

                @media @mobile-nav { flex-direction: column; padding: 1rem 0; }
            }

            @media @mobile-nav { padding: 0; }
        }

        .cart-invoice-details-container { 
            width: 350px; 
            margin: 8px 2rem 8px 0; 
            display: flex; flex-direction: column;
            position: relative;

            .cart-invoice-details-inner {
                display: flex; flex-direction: column;
                width: 350px; z-index: 100;
            }

            .section-container {
                border-radius: 8px; padding: 16px;
                background: rgba(240,240,240,1);
                display: flex; flex-direction: column;

                -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
                -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);

                p { 
                    margin: 0; font-size: 1rem;
                    &+p { margin-top: 1rem; }
                }
                h1{ margin-top: 0; font-family: 'Barlow Condensed', sans-serif; }

                .total-info {
                    display: flex; flex-direction: row; justify-content: space-between;
                    padding: 4px 8px;

                    span { 
                        font-size: 1.1rem;  
                        &+span { margin-left: 10px;}
                        &.total { font-weight: bold; } 
                    }

                    .discount-description { font-size: 0.9rem; width: 100%;  }

                    &.wrap { flex-wrap: wrap; }
                    &.discount {
                        background: rgba(50, 50, 50, 0.2);
                        border-radius: 5px; padding: 4px 8px;
                        margin-bottom: 8px; color: @color3;
                    }
                    &.cutoff {
                        border-top: 1px solid rgba(50,50,50,0.5);
                        padding-top: 1rem;
                    }

                    &+.total-info { margin-top: 1rem; }
                }

                .btn-container {
                    display: flex; flex-direction: column;
                    padding: 2rem 0 1rem;

                    .submit {
                        all: unset;
                        display: flex; flex-direction: row;
                        justify-content: space-between;
                        padding: 8px 16px; border-radius: 32px;
                        background-color: @league-store-c2;
                        font-family: 'Barlow Condensed', sans-serif;
                        font-weight: bold; font-size: 1.3rem;
                        color: #fff; cursor: pointer;

                        transition: 0.2s all ease-in-out;

                        &:disabled { 
                            opacity: 0.2; cursor: default;
                            background-color: @league-store-c3; 

                            .price { display: none; }
                        }

                        &:hover:not(:disabled) { background-color: lighten(@league-store-c2, 10%);}
                    }

                    p { text-align: center; margin: 1rem 0 0; }
                }

                &+.section-container { margin-top: 2rem; }
            }

            @media @mobile-nav {
                width: initial; margin: 8px 0;

                .cart-invoice-details-inner { width: initial; }
            }
        }

        @media @mobile-nav { flex-direction: column; padding: 8px 0; }
    }
}