.ls-quote-page {
    padding: 2rem; min-height: calc(100vh - @storeMobileNavHeight);
    .gradient-background-container {
        position: absolute; content: '';
        z-index: -1;
        position: absolute; top: -50px; left: 0;
        width: 100%; height: calc(100% + 3rem);
        mask-image: linear-gradient(to bottom, transparent 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 75%, transparent 100%);
        .gradient-background {
            width: 100%; height: 100%; opacity: 0.25;
            background-image: linear-gradient(to right, rgba(50,50,50, 1) 0%, transparent 70%, rgba(50,50,50, 1) 100%);
        }
    }

    .content-section {
        border-radius: 8px; 
        height: calc(90vh - @storeMobileNavHeight - 4rem);
        background: rgba(255,255,255,0.5); 
        backdrop-filter: blur(2px); 
        -webkit-backdrop-filter: blur(2px);
        width: 100%; padding: 8px;
        display: flex; flex-direction: column;

        -moz-box-shadow: 0 2.5px 10px rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: 0 2.5px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 2.5px 10px rgba(0, 0, 0, 0.5);

        h1 { 
            margin: 0 0 1rem; text-align: center; 
            font-family: 'Bebas Neue', cursive;
            font-size: 2.5rem;

            span { color: rgba(100,100,100,1); }
        }

        .pagination-container { margin-top: 1rem; }
    }
}

.ls-table-container {
    flex: 1;
    overflow: auto;  // overflow-x: auto; 
    position: relative; border-radius: 8px;
    border: 2px solid @league-store-c2;
    background-color: rgba(255,255,255,0.5);

    .table-loading {
        display: flex; flex-direction: column; 
        justify-content: center; height: 100%;

        * { margin: 0 auto; }
    }

    .ls-table {
        min-width: 100%; border-spacing: 0;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 1rem;

        thead { position: sticky; top: 0; z-index: 50; }

        th {
            border-bottom: 2px solid @league-store-c1; 
            font-weight: bold; position: relative;
            text-align: center; padding: 8px;

            .header-container {
                display: flex; flex-direction: row;
                justify-content: center; 
                position: relative;
                span { 
                    position: absolute; right: 0;
                    font-size: 16px; top: 50%;
                    transform: translateY(-50%);
                }
                &.sortable { cursor: pointer; }
            }

            &::before {
                content: ''; position: absolute;
                left: 0; top: 0; width: 100%;
                height: 100%; z-index: -1;
                background-color: rgba(210, 161, 0,0.2);
            }
            &.empty-header { &::before { z-index: 1; } }
            &+th { border-left: 2px solid @league-store-c1; }
        }

        tr {
            position: relative;
            td {
                padding: 12px; text-align: center;

                .usrmgt_cell {
                    display: flex;
                    &.ctr_cell { justify-content: center; }
                    &.capitalize { text-transform: uppercase; }

                    &.cell_status {
                        &.new { color: rgba(0,150,0,1); }
                        &.po_submitted { color: @league-store-c2; }
                        &.completed { color: @league-store-c3; }
                    }
                }

                .update-user-btn {
                    all: unset; padding: 4px 16px;
                    color: rgba(50,50,50,1); cursor: pointer;
                    display: inline-flex; flex-direction: row;
                    transition: 0.2s all ease-in-out;
                    .league-store-c1(background, 0.3);

                    border-radius: 32px;

                    span { 
                        align-content: center; 

                        &.title { font-size: .8rem; }
                        &.icon { font-size: 1.5rem; }
                        &+span { margin-left: .25rem; }
                    }

                    &:hover { .league-store-c1(background, 0.7); }

                    &+.update-user-btn { margin-left: 1rem; }
                }
            }

            &.row_status {
                &.new {
                    td { font-weight: bold; }
                }

                &.completed { 
                    opacity: 0.5; filter: grayscale(100%); 
                    text-decoration: line-through;
                }
            }

            &:nth-child(even) {
                background-color: rgba(200,200,200,0.3);
            }
        }
    }
}

.quote-editor-modal {
    .rodal-dialog {
        border-radius: 8px; display: inline-flex;
        flex-direction: column;
        
        .quote-editor-modal-container {
            display: flex; flex-direction: column;
            flex: 1; overflow-y: hidden;
            padding: 16px;

            .upload-container {
                display: flex; flex-direction: column;
                overflow: hidden;
                
                h1, h2 { margin: 0; }

                h2 { 
                    font-size: 1rem; color: rgba(50,50,50,1); 
                    span { color: rgba(200,0,0,1); margin-left: 0.5rem; }
                }

                .content-container { 
                    margin: 1rem 0;
                    display: flex; flex-direction: column;

                    .icon { 
                        font-size: 7rem; margin-bottom: 0.5rem; 
                        text-align: center;
                    }
                    p { margin: 0; text-align: center; }

                    .action-container {
                        display: flex; flex-direction: column;
                        margin: 1rem 0 0;

                        .custom-input-container {
                            position: relative;

                            .input-title {
                                color: #000; font-size: 1rem; 
                                font-weight: bold; padding: 0 4px;
                            }
                            
                            .input-container {
                                border: 2px solid rgba(170,170,170, 0.4); border-radius: 4px;
                                display: flex; flex-direction: row; padding: 4px 8px;
                                margin-top: 4px; overflow: hidden;
                                
                                input { 
                                    flex: 1; border: none; 
                                    font-size: 1rem; width: 100%;
                                    background: transparent; 
                                }

                                span {
                                    align-content: center; 
                                    &+span { margin-left: 0.5rem; }
                                }

                                .remove-btn {
                                    all: unset; 
                                    margin-left: auto;
                                    color: rgba(200,50,50,0.5);
                                    transition: 0.2s all ease-in-out;

                                    span { font-size: 20px; }

                                    &:hover:not(:disabled) { color: darken(rgba(200,50,50,1), 10%);  }
                                }

                                &.file-selector {
                                    cursor: pointer;
                                    background-color: rgba(170,170,170,0.2);

                                    .file_selector { display: none; }
                                }

                                &.empty-file { 
                                    border-style: dashed; 
                                    font-weight: bold; 
                                    color: rgba(200,50,50,0.5);
                                    border-color: rgba(200,50,50,0.5);
                                    background-color: transparent;
                                }
                            }

                            &.custom-input-container { margin-top: 1rem; }
                        }

                        button {
                            all: unset; margin-top: 1rem;
                            padding: 8px 16px; border-radius: 4px;
                            background: @league-store-c1; color: #fff;
                            text-align: center; font-weight: bold;
                            cursor: pointer; display: flex;
                            flex-direction: row;
                            justify-content: center;
                            transition: 0.4s all ease-in-out;

                            span { 
                                align-content: center;
                                &+span { margin-left: 0.5rem; }
                            }

                            &:disabled { 
                                cursor: not-allowed; opacity: 0.5;
                                background-color: rgba(150,150,150,1); 
                            }

                            &:hover:not(:disabled) { background: darken(@league-store-c1, 20%);  }
                        }
                    }
                }

                .cart-line-items-container {
                    flex: 1; display: flex;
                    flex-direction: column;
                    padding: 0.5rem 1rem;
                    overflow-y: auto;

                    .download-li-container { 
                        display: flex; flex-direction: row;
                        opacity: 0.5;

                        .selected-box {
                            margin: calc(1rem + 25px) 1rem auto 4px;
                            width: 1rem; height: 1rem;
                            min-width: 1rem; min-height: 1rem;
                            border-radius: 50%;
                            border: 2px solid rgba(50,50,50,1);
                            cursor: pointer;

                            &.sel { background: @league-store-c3; }
                        }

                        .downloaded-list-sel {
                            margin: calc(1rem + 25px) 4px auto 1rem;

                            span { 
                                font-size: 2rem; color: rgba(0,150,0,1); 
                                &.empty { display: block; min-width: 2rem; }
                            }
                        }

                        &.avaliable { opacity: 1; }

                        &+.download-li-container { border-top: 1px solid rgba(50,50,50,0.1); }
                    }

                    .cart-line-item {
                        padding: 1rem 0.5rem; 
                        display: flex; flex: 1;
                        flex-direction: row;

                        .cart-img-container { 
                            display: flex; flex-direction: column;
                            text-align: center; justify-content: center;
                            background-color: rgba(170,170,170,0.7);
                            width: 5rem; height: 5rem; border-radius: 8px;

                            span { font-size: 2rem; color: rgba(100,100,100,1); }
                        }

                        .line-item-table {
                            flex: 1; padding: 0 0.5rem;
                            tr {
                                td {
                                    vertical-align: top;
                                    .content-details {
                                        padding: 0 .5rem; display: flex;
                                        flex-direction: column;

                                        .title { 
                                            font-weight: bold; font-size: 1rem; 
                                        }

                                        .additional-description {
                                            font-size: 0.8rem; font-style: italic;
                                            padding: 0.5rem;
                                        }

                                        .date-row {
                                            display: flex; flex-direction: row;
                                            font-size: 0.8rem; padding: 2px 4px;
                                            color: @league-store-c2;
                                            span { &+span { margin-left: 0.25rem; }}
                                        }

                                        .sub-detail-container {
                                            padding: 4px; table-layout: auto;
                                            // width: 350px;

                                            .sdr-row {
                                                font-size: 0.8rem;
                                                .sdr-title { font-weight: bold; }
                                                .count-price { 
                                                    text-align: right; 
                                                    padding-left: 100px;

                                                    @media @mobile-nav { padding-left: 2rem; }
                                                }
                                            }

                                            @media @mobile-nav { width: initial; }
                                        }
                                    }

                                    &.price {
                                        width: 50px; text-align: right;
                                        font-size: 1rem;
                                        font-weight: bold;

                                        .price-breakdown {
                                            display: flex; 
                                            flex-direction: column;

                                            .discounted { 
                                                text-decoration: line-through; 
                                                opacity: 0.5;
                                            }

                                            .discounted-price {
                                                font-size: 0.8rem;
                                                text-align: center;
                                                color: rgba(100,0,0,1);

                                                @media @mobile-nav { font-size: .8rem; }
                                            }
                                        }

                                        @media @mobile-nav { font-size: 1rem; }
                                    }
                                }
                            }

                            @media @mobile-nav { padding: 0; }
                        }
                    }
                }

                .btn-container {
                    display: flex; flex-direction: row;

                    button {
                        all: unset; margin-top: 1rem;
                        padding: 8px 16px; border-radius: 4px;
                        background: @league-store-c3; color: #fff;
                        text-align: center; font-weight: bold;
                        cursor: pointer; display: flex;
                        flex-direction: row; flex: 1;
                        justify-content: center;
                        transition: 0.4s all ease-in-out;

                        span { 
                            align-content: center;
                            &+span { margin-left: 0.5rem; }
                        }

                        &.all { 
                            background: @league-store-c1;
                            &:hover:not(:disabled) { background: darken(@league-store-c1, 20%);  }
                        }

                        &:disabled { 
                            cursor: not-allowed; opacity: 0.5;
                            background-color: rgba(150,150,150,1); 
                        }

                        &:hover:not(:disabled):not(&.all) { background: darken(@league-store-c3, 20%);  }
                        
                        &+button { margin-left: 1rem; }
                    }
                }
            }
        }
    }
}